// ================================
// IMPORTS
// ================================
@use '../base/variables' as *;
@use '../base/mixins' as *;

.node--type--admin-page {
  @include standard-container;

  .text-wrapper {
    display: grid;
    grid-template-rows: 1fr;
  }

  .info-box {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    
    .version {
      grid-column: 1;
      grid-row: 1;
    }
    
    .last-updated {
      padding-bottom: 16px;
      grid-column: 1;
      grid-row: 2;
    }
    
    .field--name-field-download-pdf-link {
      grid-column: 2;
      grid-row: 1 / 3;
      align-self: center;
      
      a {
        @include btn-primary;
      }
    }
  }
}